---
interface Props {
	href: string;
}

const { href } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		'block py-2 md:py-0 text-vg-gray-dark hover:text-vg-red transition-colors duration-200 uppercase tracking-wider text-sm font-normal',
		{
			'text-vg-red': isActive,
		},
	]}
>
	<slot />
</a>
